.Footer-Container{
    width: 100vw;
    height: 40vh;
    background-color: black;
}

.Footer-Content{
    width: 100vw;
    height: 20vh;
    display: flex;
    justify-content: space-around;

}

.Foot-Line{
    position: relative;
    left: 20vh;
    width: 80%;
    height: 0.1vh;
    background-color: #e9e9e9;
}

.Foot-Logo{
    display: flex;
    position: relative;
    top: 7vh;
    font-size: 5vh;
    justify-content: space-around;
}