.Nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 8vh;
    background-color: #121212;
    z-index: 10000;
}

.Space{
    width: 100px;
}


.Logo{
    font-family: "Rock Salt";
}

.Func{
    display: flex;
    justify-content: space-between;
    background-color: transparent;
    height: 100%;
    width: 30%;
    align-items: center;
    transform: translateX(1px);
}

.Func h3{
    cursor: pointer;
    color: white;
}